/* About.css */

#about {
	color: #f8f8f8;
	height: 100vh;
	background-image: url('/images/pink.png');
	background-size: cover;
	background-position: center;
	opacity: 0.9;
	display: grid;
	grid-template-rows: auto auto;
	gap: 1rem;
	padding: 1rem;
	place-content: center;
	text-align: center;
  }
  
  .about-heading {
	font-size: 2rem;
	font-weight: bold;
	font-family: "Merienda", sans-serif;
	color: #b91c1c;
	padding: 2rem;
	transition: color 0.3s ease-in-out;
  }
  
  .about-heading:hover {
	color: #f9a8d4;
  }
  
  .about-container {
	height: 100vh;
	max-height: 400px;
	max-width: 1000px;
	background-color: rgba(0, 0, 0, 0.4);
	border: 2px solid #f9a8d4;
	border-radius: 0.75rem;
	padding: 2rem;
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-family: sans-serif;
	text-align: justify;
	color: #f9a8d4;
  }
  